/* IE 8 Fixes */
.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-5,
.grid-6,
.grid-half,
.grid-full {
float: left;
margin: 0 1.515151515152%;
}


.grid-1     { width: 13.636363636364%; }
.grid-2     { width: 30.30303030303%; }
.grid-3,
.grid-half  { width: 46.969696969697%; }
.grid-4     { width: 63.636363636364%; }
.grid-5     { width: 80.30303030303%; }
.grid-6,
.grid-full  { width: 96.969696969697%; }

.parallax[style] { background-size: cover!important; background-attachment: scroll!important; background-position: top center!important; }
.social-links { margin-top: 100px!important; }
.copyright { margin-top: 30px!important; }

#bx-pager a {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)"!important; /* IE 8 */
}